<!DOCTYPE HTML>
<html>
	<head>
		<title>Personal Assistant</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
                <script src="js/side nav.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="">
				<h1><a href="#">Personal Assistant</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="inhome.html">Home</a></li>
						
					</ul>
				</nav>
			</header>
  <!-- ----body------- -->
                    <div id="mySidebar" class="sidebar" style="width: 0px;">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                            <a class="sidenavcontent" href="activity.html">Activity Tracker</a>
                            <a href="booking.html" class="sidenavcontent">Bookings</a>
                            <a href="/taskm" class="sidenavcontent">Task Manager</a>
                            <a href="lastpage.html" class="sidenavcontent">Tracker</a>
                            <a href="index.html" class="sidenavcontent">Log Out</a>
                          </div>

                          <div id="main" style="position: absolute; right: 0px; ">
                            <button class="openbtn" onclick="openNav()"><img src="images/ham.png" ></button>
                          </div>  
                  <div class="container">
                    <h2>TASK MANAGER</h2>
                    <p>This app helps you to manage your task in most time efficient manner,schedule all your events in the best way making your life easier.</p>
                    <ul>

                      <li style="padding-bottom: 3%">
                          <div style="float: left"> <a href="#"><img class="taskIcon" src="images\return.png" alt=""></a></div> 
                          <div style="padding-left:5% "><a href= "#"><h5>PREVIOUS TASK</h5></a></div>
                      </li>
                      <li style="padding-bottom: 3%">
                          <div style="float: left"><a href="/task" ><img class="taskIcon" src="images\add.png" alt=""></a></div>
                          <div style="padding-left:5%"><a href="/task" ><h5>NEW TASK</h5></a></div>
                      </li>
                      <li style="padding-bottom: 3%">
                          <div style="float: left"><a href="#"><img class="taskIcon" src="images\notification.png" alt=""></a></div>
                          <div style="padding-left:5%"><a href="#"><h5>SET REMINDER</h5></a></div>
                      </li>
                    </ul>
                  </div>
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u">
							<div class="row collapse-at-2">
								<div class="6u">
									<h3>Other links</h3>
									<ul class="alt">
										<li><a href="#">Link 1</a></li>
										<li><a href="#">Link 2</a></li>
										<li><a href="#">Link 3</a></li>
										<li><a href="#">Link 4</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="6u">
							<h2>Place Holder Text</h2>
							<p>Place Holder desc</p>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
							</ul>
						</div>
					</div>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li>
						<li>Design: <a href="#">Placeholder</a></li>
						<li>Images: <a href="#">Placeholder</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>
