<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Personal Assistant</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="">
				<h1><a href="#">Personal Assistant</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/public_html/public/index.html" >Home</a></li>
		
                                                <li><a href="login" class="button special">Login</a></li>
					</ul>
				</nav>
			</header>
<body>

    <div class="container" style="margin: auto;">
        <img src="./images/title1.png" alt="icon" style="margin-left:30%;">
        <img src="./images/done.jpg" style="margin-left: 40%">
        <h2 style="text-align: center;"><%=heading%> </h2>
        <h3 style="text-align: center;"><%=subheading%> </h3>
           <br>
           <a href="login"><button class="button medium" style="margin-left:45%;">Login</button></a>
    </div>

    
    <footer id="footer">
        <div class="container">
            <div class="row double">
                <div class="6u">
                    <div class="row collapse-at-2">
                        <div class="6u">
                            <h3>Other links</h3>
                            <ul class="alt">
                                <li><a href="#">Link 1</a></li>
                                <li><a href="#">Link 2</a></li>
                                <li><a href="#">Link 3</a></li>
                                <li><a href="#">Link 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="6u">
                    <h2>Place Holder Text</h2>
                    <p>Place Holder desc</p>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                        <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                    </ul>
                </div>
            </div>
            <ul class="copyright">
                <li>&copy; Personal Assistant .2020.</li>
                <li>Design: <a href="#">Placeholder</a></li>
                <li>Images: <a href="#">Placeholder</a></li>
            </ul>
        </div>
    </footer>
<body>